<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="500" />
		<property name="maxIdle" value="100" />
		<property name="minIdle" value="0" />
	</bean>
	
	<bean id="redisClient" class="com.dryork.vision.base.redis.RedisClient">
		<constructor-arg index="0" value="20" type="int"/>
		<constructor-arg index="1" value="10" type="int"/>
		<constructor-arg index="2" value="20" type="int"/>
		<constructor-arg index="3" value="127.0.0.1"/>
		<constructor-arg index="4" value="6379" type="int"/>
 		<constructor-arg index="5" value="york168!"/> 
	</bean>
</beans>