<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>shikang</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>shikang.root</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/spring-master.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>springUtf8Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>springUtf8Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>spring-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/mvc-spring.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 各页面使用绝对定位，项目根路径处理 -->
	<filter>
		<filter-name>pathFilter</filter-name>
		<filter-class>com.dryork.vision.base.interceptor.PathFilter</filter-class>
		<init-param>
			<param-name>homePage</param-name>
			<param-value>/login</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>pathFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list> -->
</web-app>